extends layout

block title
  title myapp
  
block content
  h4= theuser.username
  h1= theuser.name
  if(theuser.age != "NA")
    h3= "Age: "+theuser.age
  if(theuser.relationship != "NA")
    h3= "Relationship: "+theuser.relationship
  if(theuser.job != "NA")
    h3= "Job: "+theuser.job
  if(theuser.education != "NA")
    h3= "Education: "+theuser.education
  
  if(user.username == theuser.username)
    a(href="/users/"+user.username+"/edit") Edit your profile
    br
    br
  a(href='/') Home
