extends layout

block title
  title!= theuser.name
  
block content
  h1#name_text_profile= theuser.name
  if(user.username != theuser.username)
    if(user.friends.indexOf(theuser.username) > -1)
      form(method='POST', action='/users/'+theuser.username)
        button#remove_friends_btn.btn.btn-primary(type='submit', value='Add Friend')
          i.fa.fa-check(aria-hidden='true'+theuser.username)
          != " Friends"
    else
      form(method='POST', action='/users/'+theuser.username)
        button#add_friend_btn.btn.btn-primary(type='submit', value='Add Friend')
          i.fa.fa-address-book(aria-hidden='true')
          != " Add Friend"
    
        
  hr
  h2#title_text_profile Info
  
  if(theuser.age != "NA")
    h3#small_text_profile
      i.fa.fa-user(aria-hidden='true')
      != " " + theuser.age + " years old"
  if(theuser.location != "NA")
    h3#small_text_profile
      i.fa.fa-home(ario-hidden='true')
      != " Lives in " + theuser.location
  if(theuser.relationship != "NA")
    h3#small_text_profile
      i.fa.fa-heart(ario-hidden='true')
      != " " + theuser.relationship
  if(theuser.job != "NA")
    h3#small_text_profile
      i.fa.fa-briefcase(ario-hidden='true')
      != " Works at "+theuser.job
  if(theuser.education != "NA")
    h3#small_text_profile
      i.fa.fa-graduation-cap(ario.hidden='true')
      !=" Studied at "+theuser.education
  
  if(user.username == theuser.username)
    br
    a(href="/users/"+user.username+"/edit") Edit your profile
  
  hr
  h2#title_text_profile Friends
  hr
  h2#title_text_profile Posts
  each post, i in posts
      hr
      a#name_post(href='/users/'+post.username)!=post.name
      h6#time_post!= post.timestamp + " minutes ago"
      h3#text_post!=post.text
      br
      form(method='POST', action='')
        button#likes_post.btn.btn-default(type='submit', value="Search")
          i.fa.fa-heart(aria-hidden='true')
          != " " + post.likes
